<div class="orders">

    <div class="headerCard" style="background-color: #31c3ee;height:60px;">
        <label style="font-family: 'Lato', sans-serif;font-size: 20px;color: #ffffff;height: 90px;line-height: 65px;">MY ORDERS</label>
    </div>

    <div ng-repeat="item in cartItems track by $index">
        <div class="row">
            <div class="col-md-4">
                <div style="">
                    <img src="images/image.png" height="120px" width="120px"/>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: left;">

                    <div>{{item.name}}</div>
                    <div>{{item.cost}}</div>
                    <div>{{item.cost}}</div>
                    <div>{{item.cost}}</div>
                    <div>{{item.cost}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: right">
                    <md-button class="md-primary md-raised" ng-click="showTrackingInformation($event,$index)">
                        TRACK ORDER
                    </md-button>
                    <md-button class="md-primary md-raised" ng-click="cancelOrder($event,$index)">
                        CANCEL ORDER
                    </md-button>
                </div>
            </div>
        </div>
        <ul><li class="divider"></li></ul>


    </div>
</div>