<br/>

<form name="designerregistrationForm">
<div  class="card">
    <div class="headerCard" style="background-color: #31c3ee;height:60px;">
        <label style="font-family: 'Lato', sans-serif;font-size: 20px;color: #ffffff;height: 90px;line-height: 65px;">DESIGNER REGISTRATION</label>
    </div>
    <div class="container-fluid animation-fadeIn" align="center" ng-if="step1">

    <div class="col-lg-4 col-lg-offset-4 pull-left">
        <div class="pull-left"><label>Step 1</label></div>
    </div>
        <div class="col-lg-8">

        <label class="pull-left">Please provide your personal Information</label>
            </div>
    <div class="col-lg-8">
    <label class="control-label required-field pull-left required-field">Full Name</label>

    <div class="form-group">
        <input type="text" class="form-control" ng-model="designerInformation.fullName"  name="fullName" required/>
        <span class="pull-left" style="color:red" ng-show="designerregistrationForm.fullName.$touched && designerregistrationForm.fullName.$invalid">FullName is required</span>

    </div>
</div>
        <div class="col-lg-8">
            <label class="control-label required-field pull-left">User Name</label>

            <div class="form-group">
                <input type="text" class="form-control" ng-model="designerInformation.userName"  name="userName" required/>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.userName.$touched && designerregistrationForm.userName.$invalid">UserName is required</span>

            </div>
        </div>
        <div class="col-lg-8">
            <label class="control-label required-field pull-left">Password</label>

            <div class="form-group">
                <input type="text" class="form-control" ng-model="designerInformation.password"  name="password" required/>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.password.$touched && designerregistrationForm.password.$invalid">Password is required</span>
            </div>
        </div>
    <div class="col-lg-8">
        <label class="control-label required-field pull-left">Mobile Number</label>

    <div class="form-group">
        <input type="number" class="form-control" ng-model="designerInformation.mobileNumber"  name="mobileNumber" required/>
        <span class="pull-left" style="color:red" ng-show="designerregistrationForm.mobileNumber.$touched && designerregistrationForm.mobileNumber.$invalid">MobileNumber is required</span>
    </div>
</div>
    <div class="col-lg-8">
        <label class="control-label required-field pull-left">Email Address</label>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="designerInformation.emailAddress"  name="emailAddress" required/>
            <span  class="pull-left" style="color:red" ng-show="designerregistrationForm.emailAddress.$touched && designerregistrationForm.emailAddress.$invalid">EmailAddress is required</span>
        </div>
    </div>

        <div class="col-lg-8">
            <label class="control-label required-field pull-left">Address</label>

            <div class="form-group">
                <textarea required cols="500" rows="3" class="form-control" ng-model="designerInformation.address"></textarea>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.emailAddress.$touched && designerregistrationForm.emailAddress.$invalid">EmailAddress is required</span>
            </div>
        </div>


        <div class="col-lg-8">
            <label class="control-label required-field pull-left">City</label>

            <div class="form-group">
                <input type="text" class="form-control"  name="city" ng-model="designerInformation.city" required/>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.city.$touched && designerregistrationForm.city.$invalid">City is required</span>
            </div>
        </div>

        <div class="col-lg-8">
            <label class="control-label required-field pull-left">State</label>

            <div class="form-group">
                <input type="text" class="form-control"  name="state" ng-model="designerInformation.state" required/>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.state.$touched && designerregistrationForm.state.$invalid">State is required</span>
            </div>
        </div>

        <div class="col-lg-8">
            <label class="control-label required-field pull-left">Country</label>

            <div class="form-group">
                <input type="text" class="form-control"  name="country" ng-model="designerInformation.country" required/>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.country.$touched && designerregistrationForm.country.$invalid">Country is required</span>
            </div>
        </div>

        <div class="col-lg-8">
            <label class="control-label required-field pull-left">Pin Code</label>

            <div class="form-group">
                <input type="number" class="form-control"  name="pincode" ng-model="designerInformation.pinCode" required/>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.pincode.$touched && designerregistrationForm.pincode.$invalid">Pin Code is required</span>
            </div>
        </div>


    <div class="col-lg-4 col-lg-offset-4 pull-right">
        <button type="button" class="btn btn-primary" ng-click="onCancel()">
            Cancel
        </button>
<!--<button type="button" class="btn btn-primary" ng-click="onStep1Completion(designerRegistration)" ng-disabled="designerregistrationForm.$invalid">
    Next
</button>-->
        <button type="button" class="btn btn-primary" ng-click="onStep1Completion(designerRegistration)">
            Next
        </button>
    </div>
    </div>



<div class="container-fluid" align="center" ng-if="step2">
        <div class="col-xs-12 pull-left">
            <div class="pull-left"><label>Step 2</label></div>
        </div>
    <div class="col-lg-8">

        <label class="pull-left">Please provide your Store Information</label>
    </div>

    <div class="col-xs-12 pull-left">

        <div class="col-lg-8">
            <label class="control-label required-field pull-left">Store Contact Number</label>

            <div class="form-group">
                <input type="number" class="form-control"  name="storeContactNumber" ng-model="designerInformation.storeContactNumber" required/>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.storeContactNumber.$touched && designerregistrationForm.storeContactNumber.$invalid">Store Contact Number is required</span>
            </div>
        </div>
    </div>

        <div class="col-xs-12 pull-left">

        <div class="col-lg-8">
            <label class="control-label required-field pull-left">Address</label>

            <div class="form-group">
                <textarea required cols="500" rows="3" name="address" class="form-control" ng-model="designerInformation.storeAddress"></textarea>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.address.$touched && designerregistrationForm.address.$invalid">Address is required</span>
            </div>
        </div>
</div>
        <div class="col-xs-12 pull-left">

            <div class="col-lg-8">
                <label class="control-label required-field pull-left">City</label>

                <div class="form-group">
                    <input type="text" class="form-control"  name="storeCity" ng-model="designerInformation.storeCity" required/>
                    <span class="pull-left" style="color:red" ng-show="designerregistrationForm.storeCity.$touched && designerregistrationForm.storeCity.$invalid">StoreCity is required</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 pull-left">

            <div class="col-lg-8">
                <label class="control-label required-field pull-left">Country</label>

                <div class="form-group">
                    <input type="text" class="form-control"  name="storeCountry" ng-model="designerInformation.storeCountry" required/>
                    <span  class="pull-left" style="color:red" ng-show="designerregistrationForm.storeCountry.$touched && designerregistrationForm.storeCountry.$invalid">StoreCountry is required</span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 pull-left">

            <div class="col-lg-8">
                <label class="control-label required-field pull-left">Pin Code</label>

                <div class="form-group">
                    <input type="number" class="form-control"  name="storePinCode" ng-model="designerInformation.storePinCode"  required/>
                    <span class="pull-left" style="color:red" ng-show="designerregistrationForm.storePinCode.$touched && designerregistrationForm.storePinCode.$invalid">StorePinCode is required</span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 pull-left">

        <div class="col-lg-8">
            <label class="control-label required-field pull-left">Designer's/Label Name</label>

            <div class="form-group">
                <input type="text" class="form-control"  name="labelName" ng-model="designerInformation.labelName"  required/>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.labelName.$touched && designerregistrationForm.labelName.$invalid">Designer's/Label Name is required</span>
            </div>
</div>
        </div>
        <div class="col-xs-12 pull-left">

        <div class="col-lg-8">
            <label class="control-label required-field pull-left">Description about your Label</label>

            <div class="form-group">
                <textarea required  cols="500" rows="3" class="form-control" name="labelDescription" ng-model="designerInformation.labelDescription"></textarea>
                <span class="pull-left" style="color:red" ng-show="designerregistrationForm.labelDescription.$touched && designerregistrationForm.labelDescription.$invalid">Description about your Label is required</span>
            </div>
        </div>
</div>

        <div class="col-lg-4 col-lg-offset-4 pull-right">
        <button type="button" class="btn btn-primary" ng-click="onPrevious('Step2')">
            Previous
        </button>
          <!--  <button type="button" class="btn btn-primary" ng-disabled="designerregistrationForm.$invalid" ng-click="onStep2Completion('Step2')">
                Next
            </button>-->

            <button type="button" class="btn btn-primary" ng-click="onStep2Completion('Step2')">
                Next
            </button>
        <button type="button" class="btn btn-primary" ng-click="onCancel()">
            Cancel
        </button></div>

</div>

<div class="container-fluid" align="center" ng-if="step3">
        <div class="col-xs-12 pull-left">
            <div class="pull-left"><label>Step 3</label></div>
        </div>

        <div class="col-lg-8">
            <label class="radio-inline"  ng-repeat="citizenDetail in citizenDetailsList">
                <input type="radio" ng-model="designerInformation.citizenDetails" value="{{citizenDetail}}" name="citizenDetail" required/>



            </label>
        </div>

    <div class="col-lg-8" ng-if="designerInformation.citizenDetails == 'Pan Card'">

            <label class="control-label required-field pull-left">Pan Card Number</label>

            <div class="form-group">
                <input type="text" class="form-control"  name="panCardNumber" ng-model="designerInformation.panCardNumber"  required/>

            </div>
        </div>

    <div class="col-lg-8" ng-if="designerInformation.citizenDetails == 'Aadhar Card'">

        <label class="control-label required-field pull-left">Aadhar Card Number</label>

        <div class="form-group">
            <input type="text" class="form-control"  name="aadharCardNumber" ng-model="designerInformation.aadharCardNumber"  required/>
        </div>
    </div>
<!--
    <div class="col-lg-8" ng-if="designerInformation.citizenDetails == 'Voter ID'">
-->
        <div class="col-lg-8">

        <label class="control-label required-field pull-left">Voter ID Card Number</label>

        <div class="form-group">
            <input type="text" class="form-control"  name="voterIDNumber" ng-model="designerInformation.voterIDCardNumber"  required/>
        </div>

        <div class="col-lg-4 col-lg-offset-4 pull-right">
            <button type="button" class="btn btn-primary" ng-click="onPrevious('Step3')">
                Previous
            </button>
            <!--<button type="button" class="btn btn-primary" ng-disabled="designerregistrationForm.$invalid" ng-click="submitDesignerRegistration()">
                Submit
            </button>-->
            <button type="button" class="btn btn-primary"  ng-click="submitDesignerRegistration()">
                Submit
            </button>
            <button type="button" class="btn btn-primary" ng-click="onCancel()">
                Cancel
            </button></div>

    </div>

</div>
</form>