<h1>Upload Page</h1>
<div align="left">

    <div>
        <div>
            <label>Product Code:</label>
            <input type="text" ng-model="productInformation.productCode"/>
        </div>
        <div>
            <label>Short Description:</label>
            <input type="text" ng-model="productInformation.shortDescription"/>
        </div>
        <div>
            <label>Description:</label>
            <input type="text" ng-model="productInformation.description"/>
        </div>

        <label> Price:</label>
        <input type="number" ng-model="productInformation.price">
    </div>
    <div>
        <label>Sizes Available:</label>
        <label ng-repeat="size in sizesList">
            <input type="checkbox" data-checklist-model="productInformation.sizes" data-checklist-value="size"> {{size}}
        </label>
    </div>
    <div>
        <label>Delivery Time:</label>
        <input type="text" ng-model="productInformation.deliveryTime"/>
    </div>
    <div>
        <label>Fabric:</label>
        <input type="text" ng-model="productInformation.fabric"/>
    </div>
    <div>
        <label>Care:</label>
        <input type="text" ng-model="productInformation.care"/>
    </div>
    <div>
        <label>Category:</label>
    <md-input-container style="margin-right: 30px;">
        <label>Please select a Category:</label>
        <md-select ng-model="productInformation.category">
            <md-option ng-repeat="category in categoryList" value="{{category.categoryName}}">{{category.categoryName}}</md-option>
        </md-select>
    </md-input-container>
        </div>


    <label>Please upload your products here and provide the information</label>
    <span class="btn btn-sm btn-success fileinput-button" ngf-select ng-model="files.products" ngf-multiple="true" ngf-keep="true">
        <i class="glyphicon glyphicon-plus"></i>
        upload
    </span>

    <div ng-repeat ="file in files.products">
        <label>{{file.name}}</label>
    </div>
    <div>
        <button type="button" class="btn btn-primary" ng-click="saveProductInformation()">
            Submit
        </button>
    </div>

</div>

