<div class="container-fluid">

<!--
    <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="30" layout="column">
    <div ng-repeat="product in products">
        <md-card>
            <img ng-src="images/image.jpg" class="md-card-image" alt="Washed Out">
            <md-card-actions layout="row" layout-align="center">
                <label>{{product.productInformation.price}}</label>
            </md-card-actions>
        </md-card>
    </div>
    </div>
</md-content>
-->



    <div flex-xs layout="column">
        <div  ng-repeat="product in matrix">
            <div class="col-xs-3" ng-repeat="item in product">
            <md-card>
                <div class="col-xs-3" ng-repeat="image in item.productImages">
                    <div>
                        <a ui-sref="productPage({productId:'{{item.id}}'})"><img src="{{image.fileUrl}}" height="450px;" width="330px;"  alt="Washed Out"></a>
                    </div>
                </div>
                <md-card-actions layout="row" layout-align="center">
                    <label>{{item.description}}</label>
                </md-card-actions>
                <md-card-actions layout="row" layout-align="center">
                    <label>{{item.price}}</label>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
</div>