<div class="container-fluid">
    <div class="row">
        <button ng-click="addNewProducts()" class="btn btn-primary">Add New Products</button>
    </div>

    <nav class="navbar" style="background: #d3d3d3;position: absolute;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Filter</a>
            </div>
            <ul class="nav navbar-nav">
                    <li class="dropdown mega-dropdown" style=""> <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="dropdownOpen= true;">Category</a>
                    <ul class="dropdown-menu mega-dropdown-menu row" ng-if="dropdownOpen">
                        <li class="col-sm-3">
                            <ul ng-repeat ="category in categories">
                                <li>  <input type="checkbox" ng-model="category.Selected"  ng-click="filterCategories(categories)">{{category.categoryName}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-dropdown" style=""> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Color</a>
                    <ul class="dropdown-menu mega-dropdown-menu row">
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Western Wear</li>
                                <li><a href="#">Easy to customize</a></li>
                                <li><a href="#">Glyphicons</a></li>
                                <li><a href="#">Pull Right Elements</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Pants</li>
                                <li><a href="#">Coloured Headers</a></li>
                                <li><a href="#">Primary Buttons & Default</a></li>
                                <li><a href="#">Calls to action</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Price: <div style="width:500px;">
                        <rzslider rz-slider-model="slider.minValue"
                              rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                        </div>
                </li>
            </ul>

        </div>
    </nav>

    <div flex-xs layout="column">
        <div  ng-repeat="product in matrix">
            <div class="col-xs-3" ng-repeat="item in product" style="width: 280px;">
                <div ng-if="!item.isProductRemoved">
                <md-card>
                    <div class="col-xs-3" ng-repeat="image in item.productImages">
                        <div ng-if="image.intialImage">
                            <a ui-sref="designerProductDisplayPage({productId:'{{item.id}}'})"><img src="{{image.fileUrl}}" height="250px;" width="200px;"  alt="Washed Out"></a>
                        </div>
                    </div>

                    <md-card-actions layout="row" layout-align="center">
                        <label>Rs {{item.price}}</label>
                    </md-card-actions>
                    <md-card-actions layout="row" layout-align="center">
                        <md-button ng-click="updateInformation(item.id)">Update</md-button>
                        <md-button ng-click="removeProduct(item)">Remove</md-button>
                    </md-card-actions>
                </md-card>
                </div>
            </div>
        </div>
    </div>

</div>