
/*----------------------------------------header-styles---------------------------------------*/
#header {
    background: #b24592; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b24592, #f15f79); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b24592, #f15f79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.gradientBody{
    background: #b24592; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b24592, #f15f79); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b24592, #f15f79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* need to update for header*//*
#header div {
    margin: 92px auto;
    overflow: hidden;
}

#header div ul {
    display: inline-block;
    float: right;
    list-style: none outside none;
    margin: 0 auto;
    padding: 17px 0 0;
    text-align: center;
}


*//* need to update for header*//*
#header div ul li {
    display: inline-block;
    *float: left; *//* Needed for IE7 and old versions *//*
    margin: 0 35px;
    padding: 0;
    position: relative;
    width: auto;
}
#header div ul li a {
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;

}
#header div ul li a:hover{color:#31c3ee;text-decoration:none;}*/
/*----------------------------------------body-home-styles---------------------------------------*/


#body div.blog .featured ul li div {
    float: left;
    margin: 0;
    padding: 0 0 36px 10px;
    width: 370px;
}
#body div.blog .featured ul li div h1 {
    color: #CB3362;
    font-family: lato-regular-webfont;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 3px;
    text-align: left;
}
#body div.blog .featured ul li div span {
    color: #7A6666;
    display: block;
    font-family: roboto-regular-webfont;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 24px;
    text-align: left;
}
#body div.blog .featured ul li div p {
    color: #7a6666;
    font-family: roboto-regular-webfont;
    ;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 39px 0;
    text-align: left;
    width: 100%;
}
#body div.blog .featured ul li div p a {
    color: #7a6666;
    font-family: roboto-regular-webfont;
    ;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
#body div.blog .featured ul li div a.more {
    border: 2px solid #cbb5bc;
    color: #a5838e;
    display: block;
    font-family: lato-bold-webfont;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 156px;
}
#body div.blog .featured ul li div a.more:hover {
    background-color: #c8c10d;
    border: none;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    width: 160px;
}
#body div.blog .featured a.load {
    border: 2px solid #cbb5bc;
    color: #a5838e;
    display: block;
    font-family: lato-bold-webfont;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 156px;
}
#body div.blog .featured a.load:hover {
    background-color: #cb3362;
    border: none;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    width: 160px;
}
#body div.blog .sidebar {
    background-color: #EFEDEE;
    float: left;
    margin: 0;
    padding: 0 0 71px;
    width: 280px;
}
#body div.singlepost .sidebar {
    background-color: #EFEDEE;
    float: left;
    margin: 0;
    padding: 0 0 71px;
    width: 280px;
}
#body div.blog .sidebar h1, #body div.singlepost .sidebar h1 {
    color: #CB3362;
    font-family: magra-bold-webfont;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 42px 0 29px;
    text-align: center;
}
#body div.blog .sidebar img, #body div.singlepost .sidebar img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: auto;
}
#body div.blog .sidebar h2, #body div.singlepost .sidebar h2 {
    color: #CB3362;
    font-family: lato-regular-webfont;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 34px 0 3px;
    text-align: center;
}
#body div.blog .sidebar span, #body div.singlepost .sidebar span {
    color: #7A6666;
    display: block;
    font-family: roboto-regular-webfont;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 24px;
    text-align: center;
}
#body div.blog .sidebar p, #body div.singlepost .sidebar p {
    color: #7A6666;
    display: block;
    font-family: roboto-regular-webfont;
    ;
    font-weight: normal;
    line-height: 24px;
    margin: 0 auto;
    padding: 0 0 64px;
    text-align: center;
    width: 200px;
}
#body div.blog .sidebar p a, #body div.singlepost .sidebar p a {
    color: #7a6666;
    font-family: roboto-regular-webfont;
    ;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
#body div.blog .sidebar a.more, #body div.singlepost .sidebar a.more {
    border: 2px solid #d3c2c7;
    color: #a5838e;
    display: block;
    font-family: lato-bold-webfont;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 156px;
}
#body div.blog .sidebar a.more:hover, #body div.singlepost .sidebar a.more:hover {
    background-color: #c8c10d;
    border: none;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    width: 160px;
}
#body div.singlepost .featured img {
    display: block;
    margin: 0;
    padding: 1px 0 0 30px;
    width: auto;
}
#body div.singlepost .featured h1 {
    color: #CB3362;
    font-family: lato-regular-webfont;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 40px 0 4px 30px;
    text-align: left;
}
#body div.singlepost .featured span {
    color: #7A6666;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 23px 30px;
    text-align: left;
}
#body div.singlepost .featured p {
    color: #7A6666;
    font-family: Arial;
    ;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 24px 30px;
    text-align: left;
}
#body div.singlepost .featured p a {
    color: #7a6666;
    font-family: Arial;
    ;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
#body div.singlepost .featured a.load {
    border: 2px solid #CBB5BC;
    color: #A5838E;
    display: block;
    font-family: lato-bold-webfont;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    margin: 63px auto 0;
    padding: 0;
    text-align: center;
    width: 156px;
}
#body div.singlepost .featured a.load:hover {
    background-color: #c8c10d;
    border: none;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    width: 160px;
}
#body.contact div.body {
    background: url(../images/map.jpg) no-repeat center top #b5aaad;
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%;
}
#body.contact div.body div {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 39px 0 0;
}
#body.contact div.body div div {
    background: url(../images/bg-transparent.png) repeat;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 35px 133px;
    width: 747px;
}
#body.contact div.body div div img {
    float: left;
    left: auto;
    margin: 0 38px 0 0;
    padding: 0;
    position: relative;
    width: auto;
}
#body.contact div.body div div h1 {
    color: #CB3362;
    float: left;
    font-family: lato-regular-webfont;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 15px 0 4px;
    text-align: left;
    width: 510px;
}
#body.contact div.body div div p {
    color: #7a6666;
    float: left;
    font-family: roboto-regular-webfont;
    ;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 510px;
}
#body.contact div.body div div p a {
    color: #7a6666;
    font-family: roboto-regular-webfont;
    ;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;

}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.greenborder{border-top:5px solid #9cbf23 !important;}
.paddingbottom-x{padding-bottom:10px !important;}
.padding-x{padding:18px;}
.background-green{background-color:#9cbf23;}
.lightgreen{color:#caeb52;}
.padding{padding:8px;}
.fontsize{font-size:20px;}
.background-black{background-color:#000000;}
.padding-10{padding:10px;}
.lightblack{color:#5b5b59;}
.margin-top{margin-top:35px;}
.green{color:#9cbf23;}
.padding-top{padding-top:1.5%;}
.padding-left{padding-left:25%;}

#footerDiv{
linear-gradient(90deg,#31eeda,#31c3ee);
}
.showImages{
    position: relative;
    z-index: 2;
    margin-top: 20px;
    padding-bottom: 100px;
    height:505px;
}
.headerElements a{
    position: relative;
    display: block;
    padding: 43px 27px;
    color: #fff;
    background: transparent;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: 0.06em;
    transition: .3s;
}
div.card {
     width: 1050px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: center;
    margin:0 auto;
 }
div.orders {
    width: 1350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin:100px 120px;
}

.orderStyles{
    margin-top: 70px;
    margin-right: 40px;
}
.menudemoCustomTrigger .md-menu-demo {
    padding: 24px; }

.menudemoCustomTrigger .menu-demo-container {
    min-height: 200px; }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
























/**drop down menu*/











@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans', 'sans-serif';
}

h1,
.h1 {
    font-size: 36px;
    text-align: center;
    font-size: 5em;
    color: #404041;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
    width: 200px;
    font-weight: bold;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.navbar-default{
    background: linear-gradient(to right, #b24592, #f15f79);
    border:none !important;
}
.footerDiv{
    background: linear-gradient(to right, #b24592, #f15f79);
    border:none !important;
}
.navbar-default .navbar-brand{
    color:white !important;
}
.navbar-default .navbar-nav>li {
    text-align: center;
}
.navbar-default .navbar-nav>li>a{
    color:white !important;
}

.navbar-right-align {
    float: right !important;
}

.nav .navbar-nav{
    margin:0;
}
.container{
    width:100% !important;
}

.navbar-center-padding{
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.md-padding{
    padding-right: 15% !important;
    padding-left: 15% !important;

}

.green{
    background-color:green;
}


/*cart page*/
a {
    text-decoration: none;
}

i {
    vertical-align: middle;
    font-size: 24px;
}

.main-fab {
    position:absolute;
    z-index:20;
    font-size:30px;
    top:100px;
    left:24px;
    transform:scale(.88,.88);
}

.md-breadcrumb {
    padding-left:88px;
}

.JCLRgrip:first-child {
    left:105px!important;
    display: none!important;
}

.JColResizer th:first-child {
    width: 105px!important;
}

.md-table {
    min-width: 100%;
    border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
    cursor:pointer;
    background-color:rgba(63,81,181,0.2);
}

.md-table-header {
    border-bottom: 1px solid rgb(230,230,230);
    color: rgb(130,130,130);
    text-align: left;
    font-size: 0.75em;
    font-weight: 700;
    padding: 16px 16px 16px 0;
}

.md-table-header a{
    text-decoration: none;
    color: inherit;
}

.md-table-content {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 16px 16px 16px 0;
    height: 72px;
}

.md-table-td-more {
    max-width:72px;
    width:72px;
    padding:16px;
}

.md-table-thumbs {
    max-width: 104px;
    width: 104px;
    padding: 16px 32px;
}

.md-table-thumbs div {
    overflow:hidden;
    width: 40px;
    height:40px;
    border-radius:20px;
    border: 1px solid rgba(0,0,0,0.2);
    background-size:cover;
    box-shadow: 0 8px 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
    height:40px;
    padding-left: 32px;
    padding-right: 32px;
}

.md-table-count-info {
    line-height:40px;
    font-size:.75em;
}

.md-table-footer-item {
    width: 40px;
    height: 40px;
    vertical-align:middle;
}

.md-table-active-page {
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.grey {
    color: grey;
}

md-input-container.md-default-theme .md-input {
    color: white;
    border-color: white;
    margin-top: 24px;
}